li:nth-of-type(odd){
    color: #fbc910;
  }
  
li:nth-of-type(even){
    color: #302841;
  }

.pieChart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.customLegend{
    display: flex;
    margin-left: 3vh;
    align-items: center;
    font-size: large;
    width: max-content;
}

.customLegend li{
    padding: 1%;
}

  